@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Noto Serif', serif;
  --font-cursive: 'Great Vibes', serif;

  --color-main: #1E1E2F;
  --color-error: #DE350B;

  --shadow-top: 0 -1rem 1rem 0 rgba(0, 0, 0, 0.1);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    @apply border-black/10;
  }

  body {
    @apply min-h-screen transition-all;
    @apply bg-sky-100 bg-gradient-to-b from-sky-100 to-orange-100 text-main;
  }
}

@layer components {
  .tile {
    @apply bg-white rounded-xl shadow-md p-4 border;
  }

  .asf-scrollbar {
    &::-webkit-scrollbar {
      @apply w-1.5;
    }

    &::-webkit-scrollbar-track {
      @apply bg-black/10 rounded;
    }

    &::-webkit-scrollbar-thumb {
      @apply bg-black/70 rounded;
    }

    &::-webkit-scrollbar-thumb:hover {
      @apply bg-black/60;
    }
  }
}
